<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.androidcleaner">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidCleaner">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.example.androidcleaner.tabs.TabLayoutActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            tools:ignore="MissingClass" />
        <activity
            android:name="com.example.androidcleaner.tabs.TabLayoutActivity_test"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.example.androidcleaner.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="DuplicateActivity,LockedOrientationActivity" />
        <activity
            android:name="com.example.androidcleaner.Noapp"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity,MissingClass" />

        <provider
            android:name="com.example.androidcleaner.model.GenericFileProvider"
            android:authorities="${applicationId}.my.package.name.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />

        </provider>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7255339257613393~4556179800" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service android:name="com.example.androidcleaner.CheckRecentRun" />
        <service
            android:name="com.example.androidcleaner.MyAndroidFirebaseMsgService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/notification_icon" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/green" />

    </application>

</manifest>